.Article {
  background-color: var(--lighterSand);
  flex: 1 0 auto;
  padding: var(--gutter-small) var(--page);
}

@media (--medium-viewport) {
  .Article {
    padding: var(--page) var(--page-large);
  }
}

.Article p {
  max-width: 38em;
}
