.Article {
  background-color: var(--lighterSand);
  flex: 1 0 auto;
  padding: var(--gutter-small);

  @media (--medium-viewport) {
    padding: var(--gutter);
  }
}

.Article p {
  max-width: 38em;
}
