.formidableFooter.victory {
  margin: 0;
  padding: 0;
  background-color: var(--lightestSand);
}

.formidableFooter.victory .formidableFooter-container {
  margin-right: 3vw;
  margin-left: 3vw;
  background-color: var(--lightestSand);
}
