.formidableHeader.victory {
  padding: 0;
}

.formidableHeader.victory .formidableHeader-container {
  margin-right: 3vw;
  margin-left: 3vw;
}

.formidableHeader.victory .formidableHeader-by {
  text-indent: 33px;
}
