/** Homepage
*
* .Home
*   .Hero
*     .Demo
*   .Installer
*   .Companies
*   .Benefits
*
*/

.Home {
  background-color: var(--lighterSand);
  display: block;
  padding: 0 0 var(--gutter);
}

.Hero {
  margin: 0;
  padding: var(--gutter-small) 0 0;
}

.Demo {
  margin: 60px auto 0;
  max-width: 800px;
}

.Demo-bg {
  /*background-image: url("/static/hero@2x.png"); TOOD: fix import of assets in .css files*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  margin: 20px auto;
  overflow: hidden;
  padding: 56.875% 0 0 0; /* preserve aspect ratio */
  position: relative;
  width: 100%;
}

.Demo-charts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Demo-charts svg {
  max-height: 100%;
}

.Demo-charts-web {
  background-color: #f6f3f0;
  position: absolute;
  top: 20%;
  right: 22%;
  bottom: 25%;
  left: 52%;
}

.Demo-charts-native {
  background-color: #f6f3f0;
  position: absolute;
  top: 65%;
  right: 2%;
  bottom: 11%;
  left: 86%;
}

/* Installer */

.Installer {
  display: block;
  margin: var(--gutter-small) auto var(--gutter);
  text-align: center;
}

.Installer-code {
  display: inline-block;
  padding: 1.25em 1.75em;
  background-color: var(--black);
  border-radius: 0;
  box-shadow:
    0 0 0 10px var(--lighterSand),
    0 0 0 11px var(--mud);
  color: var(--lightestSand);
  font-family: var(--fontMonospace);
  font-size: 18px;
  line-height: 1.2
}

/* Companies */

.Companies {
  background-color: var(--mud);
  color: var(--white);
  margin: var(--gutter) 0 0;
  padding: var(--gutter-small) 0 var(--gutter);
  text-align: center;
}

.Companies-List {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.Companies-logo {
  color: var(--white);
  height: 70px;
  margin-top: var(--gutter-small);
  padding-right: var(--gutter-small);
  padding-left: var(--gutter-small);
}

.Companies-logo--max200 {
  max-width: 200px;
}

.Companies-logo--max300 {
  max-width: 300px;
}

.Companies-logo-img {
  height: 70px;
}

/* Benefits */

.Benefits {
  padding: var(--gutter) 0;
}

.Benefits-btn {
  display: block;
  font-family: var(--fontSubHeading);
  margin: var(--gutter) var(--page) 0;
  padding-top: var(--gutter);
  text-align: center;
}

.Benefits-demos {
  margin-top: var(--gutter);
}

.Benefits-demo {
  padding: var(--gutter-small);
}
