.Input {
  position: relative;
}

.Input-search {
  background-color: var(--lightestSand);
  background-image: url('../../../static/icon-search.svg');
  background-position: 3px center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border: 1px solid var(--sand);
  font-family: var(--fontSubHeading);
  font-size: 1.125rem;
  line-height: 1.56;
  padding-left: 30px;
  width: 100%;

  &:focus {
    border-bottom-color: var(--darkSand);
    outline: none;
  }

  &::placeholder {
    color: var(--lightGray);
    opacity: 1;
  }
}

.Input-clear {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;

  color: var(--lightRed);
  line-height: 1.56;
  margin: 0;
  padding: 0 0.75em;
  transition: background-color 193ms ease-in,
              color 193ms ease-in;

  &:hover,
  &:focus {
    background-color: var(--lighterSand);
    color: var(--red);
    outline: none;
    transition: background-color 250ms ease-out,
                color 250ms ease-out;
  }
}
