.Markdown h1:first-child {
  margin-top: 5;
}

.Markdown hr {
  background-color: var(--sand);
  border: 0;
  height: 1px;
  margin: var(--gutter-small) auto;
  position: relative;
}

.Markdown ul li {
  list-style: disc;
}

.Markdown h1,
.Markdown h2,
.Markdown h3,
.Markdown h4,
.Markdown h5,
.Markdown h6 {
  position: relative;
}

.Markdown h3 {
  font-family: var(--fontMonospace);
}

.Markdown h4 {
  font-size: 1.5rem; /* match h3, but with sans-serif */
}

.Anchor {
  opacity: 0;
  line-height: 1;
  width: 24px;
  speak: none;
  float: left;
  margin-left: -2px;
  padding-right: 4px;
  visibility: hidden;
}

.hidden-anchor {
  opacity: 0;
  line-height: 1;
  width: 24px;
  speak: none;
  float: left;
  margin-left: -2px;
  padding-right: 4px;
  visibility: hidden;
}

.Markdown h1:hover .Anchor,
.Markdown h2:hover .Anchor,
.Markdown h3:hover .Anchor,
.Markdown h4:hover .Anchor,
.Markdown h5:hover .Anchor,
.Markdown h6:hover .Anchor {
  opacity: 1;
  visibility: visible;
}

.doc-hash-link:hover .Anchor
 {
  opacity: 1;
  visibility: visible;
}
