/*
* .Page-wrapper
*   Header
*   .Page
*     .Page-sidebar
*     .Page-content
*/

@custom-media --small-viewport only screen and (min-width: 650px);
@custom-media --medium-viewport only screen and (min-width: 960px);
@custom-media --large-viewport only screen and (min-width: 1200px);


@media only screen and (min-width: 960px) {
  .Page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.Page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media only screen and (min-width: 960px) {
  .Page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
  }
}

.Page-sidebar {
  background-color: var(--lightSand);
  overflow: auto;
  padding: var(--gutter-small) var(--gutter-small) var(--gutter);
  z-index: 1;
}

@media only screen and (min-width: 960px) {
  .Page-sidebar {
    flex: 0 0 280px;
    overflow-y: scroll;
  }
}

.Page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}

.without-content-sidebar {
  max-height: calc(100vh - 10em); /* Number is absolutely magical */
}

@media only screen and (min-width: 960px) {
  .Page-content {
    overflow-y: auto;
  }
}
