/** Recipes [apply to both /docs and /guides routes]
.Recipe
* |- pre
*    |- .Interactive
*       |- .playground
*          |- .playgroundCode
*          |- .playgroundPreview
**/
.Guide h1:first-child,
.Recipe h1:first-child {
  margin-top: 5;
}

.Recipe p {
  margin-left: 2em;
}

.Recipe .Interactive .playground {
  flex-direction: column;
}

.Recipe .Interactive .playgroundPreview {
  flex: none;
  min-height: 400px;
}

.Recipe .Interactive .playgroundPreview svg {
  max-height: 400px !important; /* allow bigger recipes */
}

/*
* Gallery
*/
.Recipe--gallery .Interactive .playgroundStage {
  height: auto !important;
}

.Recipe--gallery .Interactive .playgroundPreview svg {
  display: block;
}

/** Theme Park Recipe
*/

.ThemeParkMenu {
  margin: var(--gutter) var(--page) 0;
}

.ThemeParkMenu-Bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 40em;
}

.ThemeParkMenu-Title {
  font-weight: normal;
  margin: 0 var(--gutter);
  max-width: none;
  padding: var(--gutter-small);
  text-align: center;
}
