/**
* BASE
* Foundational styles
*
* normalize:   reset the browsers
* variables:   site-wide variables such as fonts, colors, widths, etc.
* base:        styles are applied directly to element using an element selector
* utilities:   styles that are not reflective of the application state
* links:       universal link and link modifiers
* text:        universal text and content styles
*
*/
@import "../node_modules/normalize.css";
@import "styles/base/variables.css";
@import "styles/base/base.css";
@import "styles/base/links.css";
@import "styles/base/text.css";

/**
* COMPONENTS
* Discrete components of the page: such as navigation, alert dialogs, buttons, etc.
* Any new feature or component will be added to this section.
*
* article:      .Article is the content-only portion of /docs/*, nested in .Page-content
* button:       .btn classes for <button> elements
* gallery:      Styles for /gallery/*
* home:         All styles on the front page/lander
* input:        <input /> styles
* markdown:     <Markdown /> styles
* page:         <Page /> styles, including the internal pages and their links
* playground:   <Playground /> styles and CodeMirror theme
* prism:        color theme for prism syntax highlighting (third-party)
* recipe:       Styles for the /recipes/*
* showcase:     <ShowcaseApp /> styles to style screenshot images
* sidebar:      <Sidebar /> styles, including the .Nav classes
*
*/
@import "styles/components/article.css";
@import "styles/components/button.css";
@import "styles/components/footer.css";
@import "styles/components/gallery.css";
@import "styles/components/header.css";
@import "styles/components/home.css";
@import "styles/components/input.css";
@import "styles/components/markdown.css";
@import "styles/components/page.css";
@import "styles/components/prism.css";
@import "styles/components/recipe.css";
@import "styles/components/showcase.css";
@import "styles/components/sidebar.css";

/**
* LAYOUT
* Determine how sections of the page are structured
*
* grid:   global Layout and Structure
*
*/
@import "styles/layout/grid.css";


@font-face{font-family:freight-sans-pro;src:url(https://use.typekit.net/af/442215/000000000000000000010b5a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/442215/000000000000000000010b5a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/442215/000000000000000000010b5a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:freight-sans-pro;src:url(https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}
@font-face{font-family:freight-sans-pro;src:url(https://use.typekit.net/af/cef9f3/000000000000000000010b5e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/cef9f3/000000000000000000010b5e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/cef9f3/000000000000000000010b5e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("opentype");font-weight:600;font-style:normal;}
@font-face{font-family:freight-sans-pro;src:url(https://use.typekit.net/af/2a72d2/000000000000000000010b5f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) format("woff2"),url(https://use.typekit.net/af/2a72d2/000000000000000000010b5f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) format("woff"),url(https://use.typekit.net/af/2a72d2/000000000000000000010b5f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) format("opentype");font-weight:600;font-style:italic;}
@font-face{font-family:ff-more-web-pro;src:url(https://use.typekit.net/af/6cbe54/000000000000000000016de0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/6cbe54/000000000000000000016de0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/6cbe54/000000000000000000016de0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}
@font-face{font-family:ff-more-web-pro;src:url(https://use.typekit.net/af/f53c5b/000000000000000000016de1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/f53c5b/000000000000000000016de1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/f53c5b/000000000000000000016de1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}
@font-face{font-family:ff-more-web-pro;src:url(https://use.typekit.net/af/ab8840/000000000000000000016dee/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/ab8840/000000000000000000016dee/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/ab8840/000000000000000000016dee/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}
@font-face{font-family:ff-more-web-pro;src:url(https://use.typekit.net/af/a9296f/000000000000000000016def/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/a9296f/000000000000000000016def/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/a9296f/000000000000000000016def/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}

/**
* STATES
* Augment and override all other styles, such as whether an element
* is expanded or collapsed, or if the element is in an error or active state
*
*/

/*
/* Utilities must always be last, so that they can override the above
   From post-css 8.x on, we get this warning:
   "Warning (79:1) @import must precede all other statements (besides @charset)"
   Since
   A) our utilities.css isn't that large of a file and
   B) if !important isn't enough and we need to use stylesheet load order to guarantee correctness,
   that stuff should probs just be inlined at the end rather than risking new and exciting behaviors based on
   changing implementation details of our post-css import plugin
@import "styles/base/utilities.css"; */

/* Layout */
.u-inlineBlock {
  display: inline-block !important;
}

/* Margin */
.u-noMargin {
  margin: 0 !important;
}

.u-noMarginTop {
  margin-top: 0 !important;
}

.u-marginAuto {
  margin: 0 auto !important;
}

.u-marginTop {
  margin-top: var(--gutter);
}

.u-marginTopSm {
  margin-top: var(--gutter-small);
}

/* Padding */
.u-noPadding {
  padding: 0 !important;
}

.u-noPaddingTop {
  padding-top: 0 !important;
}

.u-padding {
  padding: var(--gutter);
}

.u-paddingSm {
  padding: var(--gutter-small);
}

/* Height and Width */
.u-fullHeight {
  height: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.u-maxWidth {
  max-width: 100% !important;
}

.u-maxWidthPara {
  max-width: 38em !important;
}

/* Text Alignment */
.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}

/* Text Size */
.u-textLarge {
  font-size: 1.3em;
}

.u-textLarge p {
  max-width: 30em !important;
}

/* Colors */
.u-bgColor {
  background-color: var(--lighterSand);
}

.fancyBorder,
.Markdown img {
  border-left: 4px solid var(--sand);
  border-top: 4px solid var(--sand);
  box-shadow:
    0 0 0 1px var(--sand),
    0 0 0 5px var(--lighterSand),
    0 0 0 6px var(--sand),
    -1px 11px 0 0 var(--sand),
    11px 11px 0 0 var(--sand),
    11px -1px 0 0 var(--sand);
}
