.Heading {
  color: var(--black);
  font-family: var(--fontHeading);
  line-height: 1.3;
  text-align: center;
}

.SubHeading {
  font-family: var(--fontSubHeading);
  font-size: 0.875em;
  letter-spacing: 0.15em;
  line-height: 1.1;
  text-transform: uppercase;
}

.em {
  font-style: italic;
}
