/* Layout */
.u-noMargin {
  margin: 0 !important;
}

.u-noMarginTop {
  margin-top: 0 !important;
}

.u-noPadding {
  padding: 0 !important;
}

.u-noPaddingTop {
  padding-top: 0 !important;
}

.u-padding {
  padding: var(--gutter);
}

.u-paddingSm {
  padding: var(--gutter-small);
}

/* Height and Width */
.u-fullHeight {
  height: 100% !important;
}

.u-maxWidth {
  max-width: 100% !important;
}

/* Text Alignment */
.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}

/* Text Size */
.u-textLarge {
  font-size: 1.3em;
}

.u-textLarge p {
  max-width: 30em !important;
}

/* Colors */
.u-bgColor {
  background-color: var(--lighterSand);
}
